.input{
	padding:10px;
	border: 1px solid grey;
	border-radius: 8px;
}
.main{
	border:1px solid grey;
	border-radius: 10px;
	background-color: white;
	padding:10px;
	width:30%;
	margin-top: 150px; 
}

.btn-grad {background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%)}
.btn-grad {
   
    padding: 8px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;         ;
    border-radius: 10px;
    display: block;
}
.btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
}
